
/****************************************
  ==== RESETS
****************************************/

html,body,div,canvas { margin: 0; padding: 0; }
::-moz-selection { color: #333; text-shadow: none; }
::selection {  color: #333; text-shadow: none; }
.clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clear { display: inline-table; clear: both; }
/* Hides from IE-mac \*/ * html .clear { height: 1%; } .clear { display: block; } /* End hide from IE-mac */

/****************************************
  ==== LAYOUT
****************************************/
ul {
	list-style-type:square;
}

a:link, a:visited { 
    color: white;
    text-decoration: underline;
    cursor: auto;
}



html, body { width: 100%; height: 100%; font-family: Helvetica, Verdana, Arial, sans-serif;  
	background-image: url("bg.jpg");
 
	background-size: 800px 273px;
    background-repeat: no-repeat;
	background-position: top center;
	background-color:black;
	}
body { }
p.header, p.footer {  height:200px; margin:0; }
div.logo { width: 204px; height: 38px; float: left; background: url(logo.png) 0 0 no-repeat; position: relative; z-index: 10; }
div.title { height: 38px; line-height: 38px; padding: 0 10px; margin: 0 1px 0 0; float: right; color: #333; text-align: right; font-size: 18px; position: relative; z-index: 10; }
div.player_wrapper {width:100%;  position: relative; }
div.player {  margin: 0 auto; }
canvas {overflow:hidden;margin: 0 auto;position: relative;z-index: 9;box-shadow: 0 10px 30px rgba(0,0,0,0.2);-moz-box-shadow: 0 10px 30px rgba(0,0,0,0.2);border-style:solid;  border-color:#ff3300; border-width:2px; }
.fullscreen { float: right; position: relative; z-index: 10; }

 p.bla {
	width: 100%;
	float:left;
	text-align: left;
	font-size: 20px;
	margin: 5px 0;
	font-style: bold;
	/* color:#ff3300; */
	color:#ff3300;
}


p._link{
	background-color:#ff3300;
	color:black;
	font-weight: bold;
	text-decoration: none;
	width:50%;
	text-align:center;
	float:right;
	margin:2px;
}

a:link{
 
	text-decoration: none;
}
p._link:hover{
	background-color:#fff;
	color:black;
	font-weight: bold;
	text-decoration: none;
}
p.link:visited {
	text-decoration: none;
}

body.template { }
.template .template-wrap { }
.template .template-wrap canvas { }

 

div.info_content{
 width: 802px;
 overflow: visible;
 margin: 0 auto;
}
div.info{
 margin: 1%;
 width: 45%;
 float:left;
 height:200px;
 color:#636363;
 padding: 0 10px;
 line-height: 1.5em;
}

 